* {
    margin: 0;
    padding: 0;
    
  }
html {
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
}

.index{
    background-color: black;
    color: white;
}
h2 {
    color: rgb(235, 137, 130)
}

.profile-div {
    
    text-align: center;
    font-size: 16px;
    
  }
.profile-image{
   
    object-fit: cover;
    object-position: 100% 70%;
    height: 300px;
    width: 800px;
}

h1{
    margin-top: 10px;
}
.profile-details{

    margin-top: 10px;;
}
.profile-details li{
    padding: 5px;
}
.navbar {
    width: 100%;
    height: 50px;
    background: #000000;
}

.navbar ul {
    list-style: none;
    text-align: center;
    line-height: 50px
}

.navbar ul li {
    display: inline-block;
}

.navbar ul li a {
    color: #ffffff;
    text-decoration: none;
    margin-left: 15px;
    font-size: 20px;
}

.navbar ul li .active {
    color: rgb(235, 137, 130);
}

table {
    width: 300px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    padding: 5px;;
    font-size: 16px;
    border: 2px solid rgb(235, 137, 130);
    
}

caption{
    margin-bottom: 10px;
}


td{
    text-align: center;
}

.contact {
    width: 100%;
    height: 500px;
    text-align: center;
    padding-top: 5%;

}

.contact h2 {
    margin: 0;
    font-size: 40px;margin-bottom: 20px;
    
}


.contact .form {
    width: 500px;
    height: 400px;
    margin: auto; 
}


.contact .form input[type=text] ,textarea {
    display: block;
    width: 100%;
    height: 35px;
    border:0;
    margin-bottom: 10px;
    border: 2px solid black;
    border-radius: 10px;
    padding-left: 10px
}

textarea {
    height: 200px;
}

.contact .form input[type=submit] {
    float:none;
    width: 100px;
    border: 0;
    border-radius: 10px;
    background: rgb(235, 137, 130);
    color: black;
    padding: 10px;
    cursor: pointer
}

.sections-l{
    float: left;
    width: 50%;
    padding: 2%;
    
    font-size: 16px;
}

.sections-r{
    float: right;
    width: 50%;
    padding: 2%;
    
    font-size: 16px;
}

